@page "/configure-roles"
@using Microsoft.AspNetCore.Identity
@inject RoleManager<IdentityRole> roleManager
@inject UserManager<IdentityUser> userManager
@inject IConfiguration config

@attribute [Authorize(Roles = "Administrator")]

<h3>Configure Roles</h3>
<p>This page is to configure the roles</p>


@code {
    protected override async Task OnParametersSetAsync()
    {
        await ConfigureAuthorization();
    }

    private async Task ConfigureAuthorization()
    {
        const string admin = "Administrator";
        string[] roles = { admin };

        foreach (var role in roles)
        {
            var rolExists = await roleManager.RoleExistsAsync(role);
            if (rolExists == false)
            {
                await roleManager.CreateAsync(new IdentityRole(role));
            }
        }

        var user = await userManager.FindByEmailAsync(config.GetValue<string>("AdminUser"));

        if (user != null)
        {
            await userManager.AddToRoleAsync(user, admin);
        }
    }
}
